<main class="container-lg mt-3 p-3 flex-column align-items-center mainbgcolor">

<div >
    <h1>List of users</h1>
<mat-selection-list #names [multiple]="false">
    <mat-list-option *ngFor="let name of _allFirstNamesOfEmployee" [value]="name">
      {{name}}
    </mat-list-option>
  </mat-selection-list>

</div>

<button mat-flat-button (click)="giveAdminButton(names.selectedOptions.selected[0]?.value)" color="accent" class="mx-1">Give {{names.selectedOptions.selected[0]?.value}} admin rights</button>
<button mat-flat-button (click)="revokeAdminButton(names.selectedOptions.selected[0]?.value)" color="accent" class="mx-1">Revoke {{names.selectedOptions.selected[0]?.value}} admin rights</button>
<button mat-flat-button (click)="openDialogEditAllUsers(names.selectedOptions.selected[0]?.value)" color="accent">Change email of {{names.selectedOptions.selected[0]?.value}}</button>
<button mat-flat-button (click)="deleteSelectedUser(names.selectedOptions.selected[0]?.value)" color="accent">Delete {{names.selectedOptions.selected[0]?.value}}</button>


<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="adminOff">
    <span class="material-icons mx-2">error</span>
    <div class="mx-2">
      The username and password you entered did not match our records. Please double-check and try again.
    </div>
</div>

<div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="adminOn">
    <div>
      An example success alert with an icon
    </div>
  </div>
</main>