<main class="container mainbgcolor mt-5 p-5 text-center">

<div class="mb-5">
    <h2>List of users</h2>
<mat-selection-list #names [multiple]="false" class="grid">
    <mat-list-option *ngFor="let name of _allFirstNamesOfEmployee" [value]="name">
      {{name}}
    </mat-list-option>
  </mat-selection-list>

</div>

<button class="mx-2" mat-raised-button (click)="giveAdminButton(names.selectedOptions.selected[0]?.value)" color="primary">Give {{names.selectedOptions.selected[0]?.value}} admin rights</button>
<button class="mx-2" mat-raised-button (click)="revokeAdminButton(names.selectedOptions.selected[0]?.value)" color="primary" >Revoke {{names.selectedOptions.selected[0]?.value}} admin rights</button>
<button class="mx-2" mat-raised-button (click)="openDialogEditAllUsers(names.selectedOptions.selected[0]?.value)" color="primary">Change email of {{names.selectedOptions.selected[0]?.value}}</button>
<button class="mx-2" mat-raised-button (click)="deleteSelectedUser(names.selectedOptions.selected[0]?.value)" color="primary">Delete {{names.selectedOptions.selected[0]?.value}}</button>


<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="adminOff">
    <span class="material-icons mx-2">error</span>
    <div class="mx-2">
      The username and password you entered did not match our records. Please double-check and try again.
    </div>
</div>

<div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="adminOn">
    <div>
      An example success alert with an icon
    </div>
  </div>
</main>