
<main class="mt-5 container d-flex justify-content-center">
  <form #loginForm="ngForm" (ngSubmit)="newEmailSubmit(loginForm)" class="mt-5 d-flex flex-column w-50">
    <h4>Change you email</h4>
      <mat-form-field appearance="fill">
        <mat-label>New email:</mat-label>
        <input 
        type="email"
        ngModel
        #password="ngModel"
        name="email" 
        matInput
        id="email" 
        >
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit new email</button>
    </form>




    <form #loginForm="ngForm" (ngSubmit)="newPassWordSubmit(loginForm)" class="mt-5 d-flex flex-column w-50">
    <h4>Change you password</h4>
      <mat-form-field appearance="fill">
        <mat-label>New password:</mat-label>
        <input 
        type="password"
        ngModel
        #password="ngModel"
        name="password" 
        matInput
        id="password" 
        >
      </mat-form-field>
      <mat-checkbox (click)="togglePassword()" class="mb-2">Show Password</mat-checkbox>
      <button mat-raised-button color="primary" type="submit">Submit new password</button>
    </form>
  </main>