<section class="mt-5 p-5 container mb-5 mainbgcolor d-flex flex-column align-items-center">
    
      <h2>Pending Requests</h2>
      <div class="row g-0 d-flex flex-column align-items-center" #allRequests >
          <div *ngFor="let allrequest of requests">
            
            <div *ngIf="allrequest.status === 'PENDING'" class="card mb-4 d-flex flex-row px-4" style="width: 720px;">
              
              <section class="col-md-8 my-4">
                <h4 class="card-title fw-bold">Request from {{ allrequest.requestOwner.first_name }} {{ allrequest.requestOwner.last_name }}</h4>
                    <p class="card-text">{{allrequest.title}}</p>
                    <p class="card-text">From: <span class="text-decoration-underline">{{allrequest.periodStart}}</span> until <span class="text-decoration-underline">{{allrequest.periodEnd}}</span></p>
                    <div *ngFor="let allcomments of allrequest.comment">
                    <p class="card-text">Comments: {{allcomments}}</p>
                  </div>
              </section>
              <div class="col-md-4">
                <section class="card-body d-flex flex-column my-2">
                    <button class="mb-2" mat-flat-button color="primary" (click)="approveButton(allrequest.requestId)">Approved</button>
                    <button mat-raised-button color="warn" (click)="denyButton(allrequest.requestId)">Denied</button>
                </section>
              </div>
            </div>
            
          </div>

      </div>
      
  </section>