<h2 mat-dialog-title>Create New User</h2>
<form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm)">
    <mat-form-field appearance="fill">
      <mat-label>Username:</mat-label>
      <input 
      type="text"
      ngModel
      #username="ngModel"
      name="username" 
      matInput placeholder="username"
      id="username" 
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name:</mat-label>
      <input 
      type="text"
      ngModel
      #firstName="ngModel"
      name="firstName" 
      matInput placeholder="First Name"
      id="firstName" 
      >
    </mat-form-field>
   
    <mat-form-field appearance="fill">
      <mat-label>Last Name:</mat-label>
      <input 
      type="text"
      ngModel
      #lastName="ngModel"
      name="lastName" 
      matInput placeholder="Last Name"
      id="lastName" 
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input 
      type="text"
      ngModel
      #email="ngModel"
      name="email" 
      matInput placeholder="email"
      id="email" 
      >
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Password:</mat-label>
      <input 
      type="text"
      ngModel
      #password="ngModel"
      name="password" 
      matInput placeholder="*****"
      id="password" 
      >
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>