<main class="mt-5 p-5 container d-flex flex-column justify-content-center mainbgcolor">
    <h2 class="text-center">Vacation History</h2>
    <h3 *ngIf="isLoading">Getting vacation requests!</h3>
    <table>
        <caption class="text-center">History of vacation requests</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Employee</th>
                <th>Title</th>
                <th>From</th>
                <th>Till</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody *ngFor="let vacation of vacations">
                <app-history-list-item [vacation]="vacation"></app-history-list-item>
                <!-- <td>{{vacation.requestId}}</td>
                <td>{{vacation.requestOwner.first_name}} {{vacation.requestOwner.last_name}}</td>
                <td>{{vacation.title}}</td>
                <td>{{vacation.periodStart}}</td>
                <td>{{vacation.periodEnd}}</td>
                <td>{{vacation.status}}</td>
                <td><button (click)="goToVacationDetails(vacation)">Update</button></td>
                <td><button>Delete</button></td> -->
        </tbody>
    </table>
</main>
