<main class="container mainbgcolor mt-5 p-5 d-flex flex-column text-center align-items-center">
  <ng-container *ngIf="employee!== undefined">
  <h2>Profile</h2>

  <img class="img-thumbnail rounded-circle m-3"  style="width:175px" src="{{employee.profilePic}}" alt="profile picture">
  <p>Name: {{employee.first_name}} {{employee.last_name}}</p>
  <p>Email: {{employee.emailAddress}}</p>

  <button class="m-5" mat-raised-button color="primary" (click)="openDialogChangeProfileDetails()">Change profile details</button>
  </ng-container>
</main>