<main class="container mt-5 d-flex flex-column align-items-center mainbgcolor">
    <h2 class="mt-5">Admin Area</h2>
    <h4 class="mt-4">Add a new user to the system:</h4>
    <button class="mb-5" mat-raised-button color="primary" (click)="openDialog()">New user</button>

    <h3>Pending Requests</h3>
    <section class="card mb-3 text-center" style="width: 540px;">
        <div class="row g-0">
          <section class="col-md-8 my-4">
            <h5 class="card-title">Request Owner</h5>
                <p class="card-text">Date</p>
                <p class="card-text">Comments</p>
          </section>
          <div class="col-md-4">
            <section class="card-body d-flex flex-column my-2">
                <button class="mb-2" mat-raised-button color="primary">Approved</button>
                <button mat-raised-button color="warn">Denied</button>
            </section>
          </div>
        </div>
      </section>

</main>


