<main class="mt-5 p-5 container d-flex flex-column align-items-center mainbgcolor">
    <div class="container" *ngIf="isLoading">
        <p>Loading....</p>
    </div>
    <div>
        <div class="text-center" *ngIf="vacation">
            <h2 class="mb-5">{{vacation.title}}</h2>
            <h3 class="badge bg-success" *ngIf="vacation.status === 'APPROVED'">{{vacation.status}}</h3>
            <h3 class="badge bg-secondary" role="alert" *ngIf="vacation.status === 'PENDING'">{{vacation.status}}</h3>
            <h3 class="badge bg-danger" role="alert" *ngIf="vacation.status === 'DENIED'">{{vacation.status}}</h3>
        </div>
            <table>
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>From</th>
                            <th>Until</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{vacation.requestOwner.first_name}} {{vacation.requestOwner.last_name}}</td>
                            <td>{{periodStart}}</td>
                            <td>{{periodEnd}}</td>
                        </tr>
                    </tbody>
            </table>
            <section *ngIf="vacation.comment.length > 0" class="commentsSection">
                <h4><strong>Comments</strong></h4>
                <ul>
                    <li *ngFor="let comment of vacation.comment">{{comment.commentOwner}} wrote: {{comment.message}}</li>
                </ul>
            </section>
    </div>
</main>