<main class="mt-5 p-5 container d-flex flex-column align-items-center mainbgcolor">
    <div class="container" *ngIf="isLoading">
        <p>Loading....</p>
    </div>
    <div>
        <div class="text-center" *ngIf="vacation">
            <h2 class="mb-5">{{vacation.title}}</h2>
            <h3 class="badge bg-success" *ngIf="vacation.status === 'APPROVED'">{{vacation.status}}</h3>
            <h3 class="badge bg-secondary" role="alert" *ngIf="vacation.status === 'PENDING'">{{vacation.status}}</h3>
            <h3 class="badge bg-danger" role="alert" *ngIf="vacation.status === 'DENIED'">{{vacation.status}}</h3>
            <p>{{vacation.requestOwner.first_name}} {{vacation.requestOwner.last_name}}</p>
            <p>From: {{periodStart}}</p>
            <p>Until: {{periodEnd}}</p>
            <ul>
                <li *ngFor="let comment of vacation.comment">{{comment.dateCreated}}, {{comment.commentOwner}}: {{comment.message}}</li>
            </ul>
        </div>
    </div>
    
    <button  class="m-3" mat-raised-button color="primary" (click)="backToDashboard()">To dashboard</button>
</main>